@model IEnumerable<ECommerce2.Models.Company>

@{
    ViewBag.Title = "Index";
}

<div class="row-fluid col-lg-12">
    <p>
        @Html.ActionLink("New Company", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
</div>
<hr class="soft"/>

@foreach (var item in Model)
{
    <div class="row-fluid">
        <div class="span5">
            <div id="myCarousel" class="carousel slide cntr">
                    <div class="item active">
                        @if (!string.IsNullOrEmpty(item.Logo))
                         {
                            <img src="@Url.Content(item.Logo)" a alt="Image"
                                 style="width:200px; height:200px; max-width:100%;" />
                         }
                    </div>
            </div>
        </div>
        <div class="span7">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <hr class="soft" />

            <form class="form-horizontal qtyFrm">
           
                <h4>Address:</h4>
                <p>@Html.DisplayFor(modelItem => item.Address)</p>
                <h4>City: </h4>
                <p>@Html.DisplayFor(modelItem => item.City.Name) </p>
                <h4>State: </h4>
                <p> @Html.DisplayFor(modelItem => item.State.Name)</p>
                <h4>Phone: </h4>
                <p> @Html.DisplayFor(modelItem => item.Phone)</p>

                    @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }, new { @class="btn btn-warning"}) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId }, new { @class="btn btn-danger"})
            </form>
        </div>
    </div>
    <hr class="softn clr" />
}