@model IEnumerable<ECommerce2.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="row-fluid col-lg-10">
    <p>
        @Html.ActionLink("Back", "Index", "Manage", new { }, new { @class = "btn btn-success" })
        @Html.ActionLink("New User", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
</div>
<hr class="soft" />
    @foreach (var item in Model)
    {
        <div class="well col-md-3">
            <h3>@Html.DisplayFor(modelItem => item.FullName)</h3>
            @if (!string.IsNullOrEmpty(item.Photo))
            {
                <img src="@Url.Content(item.Photo)" alt="Image"
                     style="width:200px; height:200px; max-width:100%;" />
            }
            @Html.ActionLink("Details", "Details", new {id=item.CompanyId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId }, new { @class = "btn btn-danger" })
        </div>
    }
