@model IEnumerable<ECommerce2.Models.Product>

@{
    ViewBag.Title = "ECommerce";
}
<hr />
<h2 class="title text-center">Productos Especiales</h2>
<div class="col-sm-9 padding-right">
    <div class="features_items">
        @foreach (var item in Model)
        {
            <!--features_items-->
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            @if (!string.IsNullOrEmpty(item.Image))
                            {
                                <img src="@Url.Content(item.Image)" alt="Image"
                                     style="width:100px; height:100px; max-width:100%;" />
                            }
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>@Html.DisplayFor(modelItem => item.Price)</h2>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                <i >@Html.ActionLink("Details", "ProductsDetail", "Products", new { }, new { @class="btn btn-default add-to-cart"})</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@Url.Content(item.Image)" alt="Image"
                             style="width:100px; height:100px; max-width:100%;height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }

    </table>*@
